.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
bin/
obj/

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
packages/

# SQL Server LocalDB
*.mdf
*.ldf

# Logs
*.log

# OS files
Thumbs.db
.DS_Store
